.content {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 90px 88px 100px;
  width: calc(100% - 307px);
}

.welcome {
    width: 100%;
    /* background-color: lightsalmon; */
}

.graphes {
    width: 75%;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.poids {
    width: 100%;
}
.cible, .radar_effort, .kpi {
    width: calc(33% - 20px);
    border-radius: 5px;
}
.cible {
    background-color: #FF0000;
}
.radar_effort {
    background-color: #282D30;
}
.kpi {
    background-color: #FBFBFB;
}
