.content {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 4% 88px 4%;
  width: calc(100% - 8% - 117px);
}

.welcome {
    width: 100%;
}
.welcome h2 {
    font-size: 48px;
}
.welcome h2 span {
    color: #FF0000;
}
.welcome p {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 60px;
}

.graphes {
    width: 75%;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.poids {
    width: 100%;
}
.cible, .radar_effort, .kpi {
    width: calc(33% - 20px);
    border-radius: 5px;
}
.cible {
    background-color: #FF0000;
}
.radar_effort {
    background-color: #282D30;
}
.kpi {
    background-color: #FBFBFB;
}
